body{
    background:#c1c1a4;
    font-size: 87.5%;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    line-height: 1.7em;
    text-align: left;
}

h2{
	color:#781a26;
}

.mainBox{
	margin: 0 auto;
    width: 80%;
    overflow: auto;
    clear: both;
}

img{
	margin: 10px 0;
    display: block;
    width: 45%;
    transition: width 2s;
}

nav{
    background: #882433;
    height: 40px;
    border-radius: 5px;
    border: #c13046 1px solid;
}

ul{
	list-style: none;
    margin: 0;
    padding: 0;
}

li{
	float: left;
    display: inline;
    margin-right: 3px;
}

a{
	text-decoration:none;
	color:#781a26;
}

a:hover{
	color:#666666;
}

a.active{
	background:#efeadd;
	color:#781a26;
	border-radius:5px;
}

li a{
	color:#fff;
	display:inline-block;
	padding:10px 20px;
	height:20px;
}

 li a:hover, li a.active{
	background:#efeadd;
	color:#781a26;
	border-radius:5px;
}

.maincontent{
	overflow: auto;
    width: 70%;
    float: left;
    transition: width 1s;
}

.Box1{
	border-radius: 5px;
    overflow: auto;
    background: #ffffff;
    padding: 10px 15px;
    margin-top: 10px;
}

h3{
	color: #781a26;
}

span{
	font-style: italic;
    color: #000000;
}

.readmore{
	display:block;
	float:right;
	color:#ffffff;
	padding:5px 9px;
	background:#c13046;
	border-radius:5px;
}

a.readmore{
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    height: 20px;
}

a.readmore:hover{
	background:#000000;
}

.sidebar{
	width: 30%;
    float: left;
    transition: opacity 4s ease-in-out;
}

.Box2{
	border-radius: 5px;
    background: #ffffff;
    margin: 10px 0 0 10px;
    padding: 10px 15px;
    overflow: auto;
}

.clr{
	clear:both;
}

footer {

    background: #882433;
    height: 40px;
    border: #c13046 1px solid;
    border-radius: 5px;
    margin-top: 10px;
}

footer p{
	color:#fff;
	margin:0;
	padding:10px 0 0 0;
	text-align:center;
}



@media only screen and (min-width : 768px)  and (max-width : 980px){

.mainbox{
		width:95%;	
	}
	
	 img{
		margin:auto;
		display:block;
		width:65%;	
		transition: width 1s; /* animation */		
	}
	nav{
		height:40px;
		border-radius:5px;
		border:#c13046 1px solid;
		transition: height 1s; /* animation */
	}
	
	.maincontent{
		overflow:auto;
		width:100%;
		float:none;
		transition: width 1s; /* animation */
	}

	.sidebar{
		width:100%;
		float:none;
	}
	
	.block2{
		margin-left:0;
	}
}

@media only screen and (min-width : 240px) and (max-width : 568px){
	.mainbox{
		width:95%;
	}
	
	img{
		margin:auto;
		display:block;
		width:95%;
		transition: width 1s; /* animation */
	}
	
	nav{
		height:auto;
		border-radius:5px;
		border:#c13046 1px solid;
		display:block;
		overflow:hidden;
		width:99%
	}

	ul{
		padding:2% 1%;
		text-align:center;
		width:98%;
	}

	li{
		float:none;
		display:block;
		margin-right:0px;
		width:100%;
		border-bottom:solid #a3293b 1px;
	}

	li a{
		margin-bottom:2px;
		text-align:center;
	}
	
	li a:hover, li a.active{
		display:block;
	}
	
	.maincontent{
		overflow:auto;
		width:100%;
		float:none;
	}
	
	a.readmore{
		display:block;
		float:none;
		border-radius:5px;
		text-align:center;
	}

	.sidebar{
		width:100%;
		float:none;
	}
	
	.block2{
		margin-left:0;
	}
}

}