body{
	font-family: 'Indie Flower', cursive;
	padding: 120px 0;
	color: #000000;
	background-color: #eee5d5;
}

ul{
	padding: 0;
}

li{
	list-style: none;
}

.main-block{
	line-height : 1.5;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	max-width: :630px;
	margin: 0 auto;
	padding: 80px 75px;
	text-align: center;
	border-radius: 4px;
	background-color: #fff;

}

.avatar-image{
	position: absolute;
	top: -60px;
	left: 60px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: url("main pic.jpg");
	background-size: cover;
}
.name-header{
	font-size: 40px;
	font-weight: 600;
	line-height: 1.3;
	margin: 9px 0px 24px;
	color: #d2cac5;



}

.sub-header{
	font-size: 21px;
	font-weight: 600;
	line-height: 1.3;
	margin: 9px 0px 24px;
	color: #808080; 
}

.info{
	font-size: 16px;
	margin:0 0 0;
	text-align: center;
}
.info-header{
	font-size: 16px;
	margin: 30px 0 6px;
	font-weight: 700;
	font-variant: small-caps;
	line-height: 1.3;

}

.social{
	margin-top: 30px;
}

.social li {
	display: inline-block;
}

.social-image{
	display: block;
	width: 45px;
	margin-right: 12px;
	-moz-transition: -moz-transform .4s ease-in;
}

.social-image:hover {
	-moz-transform: scale(1, 1);


}

.social-image {
	width:100%;
}

